db.sqlite3
documentation
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/iles/__pycache__
backend/logbook/__pycache__
backend/users/__pycache__
backend/iles/__pycache__
backend/logbook/__pycache__
backend/users/__pycache__
backend/evaluation/__pycache__
backend/evaluation/migrations
backend/logbook/migrations
backend/reviews/__pycache__
